<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/universal-styles.css" />
        <link rel="stylesheet" href="/styles/amenities-and-categories.css" />
        <link rel="stylesheet" href="/styles/categoryDetails.css" />
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <main>
            <h1 class="main-heading"><%= title %></h1>
            <section class="category-info">
                <h2 class="category-category-name"><%= category.category_name %></h2>
            </section>
        </main>
    </body>
</html>