body {
    background-color: #eaeff2;
}

.amenities-list {
    grid-template-columns: unset;
    padding: unset;
    background-color: unset;
    justify-content: unset;
    align-items: unset;
}

.amenity {
    border-radius: unset;
    text-align: unset;
}