.amenities-list, .categories-list {
    grid-template-columns: unset;
    grid-template-rows: repeat(auto, auto);
    gap: 15px;
    padding: unset;
    background-color: unset;
    justify-content: unset;
    align-items: unset;
}

.amenity, .category {
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
    border-radius: unset;
    text-align: unset;
}