body {
    background-color: #eaeff2;
    grid-template-rows: auto auto 1fr;
}

.amenities-list {
    grid-template-columns: unset;
    grid-template-rows: repeat(auto, auto);
    gap: 15px;
    padding: unset;
    background-color: unset;
    justify-content: unset;
    align-items: unset;
}

.amenity {
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
    border-radius: unset;
    text-align: unset;
}