:root {
    font-size: 24px;
}

body {
    background-color: #eaeff2;
    padding: 15px;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
}

.navbar-ul {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.navbar-link {
    text-decoration: none;
    background-color: white;
    padding: 15px 30px;
}