body {
    background-color: #eaeff2;
    padding: 15px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 30px;
}

.house {
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
}

main {
    background-color: unset;
    padding: unset;
}