:root {
    font-size: 24px;
    --main-bg-color: white;
}

body {
    background-color: #eaeff2;
    padding: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
}

.navbar-ul {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.navbar-link {
    text-decoration: none;
    background-color: var(--main-bg-color);
    padding: 15px 30px;
}

main {
    background-color: var(--main-bg-color);
    padding: 30px;
}

.main-heading {
    text-align: center;
}

.house-amenities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 10px;
}