body {
    background-color: #eaeff2;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.users-list {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 15px;
}

main {
    background-color: unset;
    padding: unset;
}

.user {
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
}

@media ( min-width: 1000px ) {
    .users-list {
        gap: 30px;
    }
} 